<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			crossorigin="anonymous"
		/>
		<style>
			.imgDiv {
				margin-top: 50px;
  				margin-left: 50px;
			}
		</style>
		<title>PSU Minor Tracker</title>
		<div class = "imgDiv"><img src = "https://upload.wikimedia.org/wikipedia/en/thumb/a/ac/Penn_State_Abington_logo.svg/1200px-Penn_State_Abington_logo.svg.png" width = "300" height = "100"></div>
	</head>
	<h1><center>Minor and Certificate Tracker</center></h1>
	<body style="background-color: cornflowerblue;">
		<br>
		<form action="/" method = "post" enctype=multipart/form-data> <!-- May need to adjust action and method -->
			<center><p>Please submit a copy of your transcript.</p>
			<br>
			<input type="file" name="transcript_input" id = "transcript_input" accept="application/pdf, application/vnd.ms-excel">
			<br>
			<input type="submit" value="SUBMIT" id="submit"></center> <!-- May need to adjust value and id -->
		</form>


		<!-- Some extra style options below. Keep at bottom of body tag -->
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script>
			function expand(id) {
			  var x = document.getElementById(id);
			  if (x.style.display === "none") {
				x.style.display = "block";
			  } else {
				x.style.display = "none";
			  }
			}
		</script>

		<!-- this commented out block is for optional personalized javascripting. add index.js file to use
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='index.js') }}"
		></script>-->
	</body>
</html>
